.row
    {
        background-color: rgb(98, 98, 223);
        text-align: center;
        height: 90px;
    }
    .col
    {
        border: 8px solid white;
    }
    .col-2
    {
        border: 8px solid white;
    }
    .col-3
    {
        border: 8px solid white;
    }
    .col-4
    {
        border: 8px solid white;
    }
    .col-6
    {
        border: 8px solid white;
    }
    .col-8
    {
        border: 8px solid white;
    }
    .col-12
    {
        border: 8px solid white;
    }